body {
  color: white;
  text-align: center;
  font-size: 26px;
  font-family: fantasy;
  background-color:black;
  background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

input {
  font-size: 18px;
  font-family: fantasy;
  color: black;
  text-align: center;
}

button {
  background-color: white;
  color: black;
  min-height: 50px;
  min-width: 50px;
  font-family: fantasy;
}

div.wizard-card {
  color: black;
  font-size: 24px;
  font-style: bold;
  text-align: center;
  background-color: #ebd61c;
  min-height: 175px;
  min-width: 250px;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 8px 8px grey;
  padding: 5px;
  border-radius: 5px;
}

div.spells-container {
  color: black;
  font-size: 18px;
  font-style: italic;
}

