div.wizard-card {
  color: black;
  font-size: 22px;
  text-align: center;
  background-color: #ebd61c;
  min-height: 175px;
  min-width: 250px;
  display: inline-grid;
  margin: 1rem 1rem;
  box-shadow: 10px 10px grey;
  padding: 5px;
  border-radius: 5px;
}

body {
  background-color: rgb(51, 54, 54);
  color: white;
  text-align: center;
}