div.wizard-card {
  color: black;
  font-size: 22px;
  text-align: center;
  background-color: #ebd61c;
  min-height: 175px;
  min-width: 250px;
  display: inline-grid;
  margin: 2rem;
  box-shadow: 8px 8px grey;
  padding: 5px;
  border-radius: 5px;
}

button {
  background-color: white;
  color: black;
  min-height: 50px;
  min-width: 50px;
  font-family: fantasy;
}

body {
  background-color: rgb(51, 54, 54);
  color: white;
  text-align: center;
  font-family: fantasy;
}